<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=0.7">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>hexlibrium</title>
    <link rel="icon" href="favicon/icon.svg">
    <!--blocky ------------------------------------------------------------------------------------------------------------------------------------------------->  
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/tooltip.css">
    <link rel="stylesheet" type="text/css" href="/css/courtain.css">
    <link rel="stylesheet" type="text/css" href="/css/worlds.css">
    <link rel="stylesheet" type="text/css" href="/css/levels.css">
    <link rel="stylesheet" type="text/css" href="/css/game.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--blocky ------------------------------------------------------------------------------------------------------------------------------------------------->  
    <!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Outfit:wght@200&family=PT+Sans+Narrow&family=VT323&display=swap" rel="stylesheet">
    <!--pleaserotate-->
    <!-- <script>window.PleaseRotateOptions = { subMessage: '', allowClickBypass: false }</script> -->
    <!-- <script src="/libs/pleaserotate/pleaserotate.min.js"></script> -->
   
    <!-- <script>
        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            } else {
                cancelFullScreen.call(doc);
            }
        }
    </script> -->
    <style>
      body{ 
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
        font-weight: 800;
      }
    
      .sacre
     {
      height: 250px;
     }
  header{
    position:fixed;
    width:100%;
    opacity: 0.8;
  }
  @media screen and (max-width: 1414px) {
.foo{ 
  margin-top:20%;
}
}

      @media (max-width: 863px)
  {
    .bgg
     {
      height: auto;
     }
  }

      @media (max-width: 863px)
  {
    .imgAbsolute
     {
      height: 200px !important;
     }
  }

  @media (max-width: 689px)
  {
    .imgsacred
     {
      height: 150px !important;
     }
  }

@media (max-width: 685px)
  {
  .hist{
      width:70% !important;
      align-self: center !important;
      text-align:justify !important;
      height:auto;
      
     }
  }
 

  @media (max-width: 491px)
  {
  .hist{
      width:80% !important;
      align-self: center !important;
      text-align:justify !important;
     }
  }

  @media (max-width: 383px)
  {
    .bgg
     {
      height: 900px;
     }
  }


  .imgsacred{
        height:200px;
      }
      .bgg{
        height:600px;
      }
.hist{
        color:#60337A;
         width:70%;
         align-self:center;
         text-align:justify;
      }
  

    </style>

</head>

<body>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.min.js"></script> -->
    <!-- <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/264161/OrbitControls.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.min.js"></script> -->
    <!-- <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/264161/OrbitControls.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script> -->
    <!-- <div id="galaxy"></div> -->
    <!--blocky ------------------------------------------------------------------------------------------------------------------------------------------------->   

        <!-- <div class="fullscreen game"> -->
            <!--split-->
            <!-- <div class="split"> -->
                <!--blockly container-->
                <!-- <div class="split-container">
                    <div class="blockly-editor">
                        <div id="blockly-div"></div>
                        <xml id="toolbox" style="display: none">
                            <category name="Actions" colour="60">
                                <block type="move">
                                    <field name="DIRECTION">0</field>
                                </block>
                                <block type="move">
                                    <field name="DIRECTION">2</field>
                                </block>
                                <block type="turn">
                                    <field name="DIRECTION">1</field>
                                </block>
                                <block type="turn">
                                    <field name="DIRECTION">3</field>
                                </block>
                                <block type="take"></block>
                                <block type="release"></block>
                            </category>
                            <sep></sep>
                            <category name="Controls" colour="120">
                                <block type="controls_whileUntil"></block>
                                <block type="controls_if"></block>
                                <block type="logic_negate"></block>
                                <block type="taken"></block>
                                <block type="over"></block>
                                <block type="logic_boolean"></block>
                            </category>
                            <sep></sep>
                            <category name="Methods" colour="290" custom="PROCEDURE"></category>
                        </xml>
                    </div> -->
                    <!--controls menu-->
                    <!-- <div class="game-controller">
                        <div>
                            <div class="game-button" data-use="back"></div>
                            <br>
                            <div class="game-button" data-use="backward" data-tooltip="Backward"></div>
                            <div class="game-button" data-use="forward" data-tooltip="Forward"></div>
                            <br>
                            <div class="game-button" data-use="play" data-tooltip="Play/Pause"></div>
                            <div class="game-button" data-use="reset" data-tooltip="Load code"></div>
                            <br>
                            <div class="game-button" data-use="show-next" data-tooltip="Show next"></div>
                            <div class="show-level" data-use="show-level">1/2</div>
                            <div class="game-button" data-use="show-prior" data-tooltip="Show prior"></div>
                        </div>
                        <div style="height: 100px"></div>
                    </div>
                </div> -->
                <!--game container-->
                <!-- <div class="split-container">
                    <div id="canvas" class="canvas"></div>
                </div>
            </div> -->
            <!--game menu-->
            <!-- <div class="game-menu">
                <div class="game-menu-world">
                    <div class="game-menu-image"></div>
                </div> -->
                <!--level inf-->
                <!-- <div class="game-menu-container">
                    <span class="game-menu-level"> Level - 1 </span>
                </div> -->
                <!--board-->
                <!-- <div class="game-menu-container">
                    <div class="game-menu-board">
                        <span class="board-name">Moves</span>
                        <div data-use="moves" class="board-moves">0</div>
                    </div>
                    <div class="game-menu-board">
                        <span class="board-name">Taken</span>
                        <div data-use="taken" class="board-color" style="background-color: whitesmoke"></div>
                    </div>
                    <div class="game-menu-board">
                        <span class="board-name">Over</span>
                        <div data-use="over" class="board-color" style="background-color: whitesmoke"></div>
                    </div>
                </div> -->
                <!--buttons-->
                <!-- <div class="game-menu-container">
                    <div class="game-menu-buttons">
                        <div class="game-button" data-use="info" data-tooltip="Level description">🛈</div>
                        <div class="game-button" data-use="save" data-tooltip="Save the code"></div>
                        <div class="game-button" data-use="restore" data-tooltip="Restore the code"></div>
                        <div class="slidecontainer">
                            <input data-tooltip="Speed" data-use="slider" type="range" min="1" max="10" value="1"
                                class="slider">
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        
        <!--worlds-->
        <!-- <div class="fullscreen worlds"> -->


            <!--links-->
            <!-- <div class="links">
                <a data-use="fullscreen">📺</a> |
                <a data-use="home">home</a> | -->
                <!-- <a data-use="tutorial" href="tutorial">tutorial</a> -->
                <!-- <a data-use="tutorial" href="tutorial">NFT inventory</a> -->
   
<!--     
            </div>

  
        </div> -->

        <!-- <hi class="history">Once upon a time, perhaps even an aeon ago, in a land now become a myth, a young man sat in
            deep reverie beside a great river. Our young man gazed out upon the sinuous, soft waves as they lapped the shores
            by his feet, when all of a sudden a small turtle emerged from the great green mother lode, and
            drawing itself proudly out of the water, sat down beside him to share his gentle contemplation.
            Until finally our young man, evidently on the 
            cusp of some great universal epiphany, exclaimed to the little turtle in a great and wondrous sigh:
            “Ahh little one, what’s it all about then…?”
            Rather to his surprise, the turtle revolved in a half circle and nonchalantly turned its back on
            the young man, whilst continuing to sun itself lazily and silently.
            The young man gazed intently at the little creature’s back and the intricate interlocking
            patterns and plates of its shell drying in the spring sunshine. As he gazed, a strange thing began to
            occur to him — the more he looked, the more he understood the nature of his question.
            Slowly, almost imperceptibly, everything began to evanesce and disappear — first the turtle, then
            the cosmos, and finally the young man himself. It is said that when the young man regained
            consciousness several hours later the turtle was gone.
            Ever since that day humanity has had a means of understanding every aspect within the
            universe. It was discovered in the interlacing patterns on a humble turtle’s back — and in time it
            became arguably the most profound knowledge ever discovered by a human being. It became The I
            Ching.
        </hi> -->

            <!-- <p class="history">
                Welcome traveler! you are about to start a journey. In this universe you live in your own dimension! 
                where you are invited to travel through those eleven planets in search for the fragments of the truth. 
                This path is an invitation for you to learn new skills through the challenge of building new sustainable worlds.
                Your goal is to create technology that allows you to generate energy, mining cryptocurrency and build infrastructure. 
                For now teach your robots to build your reality and follow the magic turtle that is gonna give you in your nexts steps. 
                Hopefully in the way you gonna meet new friends, Good Luck... 
            </p> -->

        <!-- <p class="instructions">

            
        </p> -->

 
        
        <!--courtain-->
        <!-- <div class="fullscreen courtain"> -->
            <!--content-->
            <!-- <div class="content"> -->
                
                <!-- <span>the</span> -->
                <!-- <h1 class="title" style="display: block;">Click to START your journey!</h1>  -->
                

                <!-- <span>Once upon a time, perhaps even an aeon ago, in a land now become a myth, a young man sat in
                    deep reverie beside a great river. Although this river no longer exists today, legend tells us that its
                    descendant may well be the great Yangtze River which flows through the heart of the land now
                    known as China. Our young man gazed out upon the sinuous, soft waves as they lapped the shores
                    by his feet, when all of a sudden a small turtle emerged from the great green mother lode, and
                    drawing itself proudly out of the water, sat down beside him to share his gentle contemplation.
                    For some considerable time neither party spoke, until finally our young man, evidently on the
                    cusp of some great universal epiphany, exclaimed to the little turtle in a great and wondrous sigh:
                    “Ahh little one, what’s it all about then…?”
                    Rather to his surprise, the turtle revolved in a half circle and nonchalantly turned its back on
                    the young man, whilst continuing to sun itself lazily and silently.
                    The young man gazed intently at the little creature’s back and the intricate interlocking
                    patterns and plates of its shell drying in the spring sunshine. As he gazed, a strange thing began to
                    occur to him — the more he looked, the more he understood the nature of his question. And so it
                    was that he gave himself up to the moment and gazed with all his heart at the little turtle’s back.
                    Slowly, almost imperceptibly, everything began to evanesce and disappear — first the turtle, then
                    the cosmos, and finally the young man himself. It is said that when the young man regained
                    consciousness several hours later the turtle was gone.
                    Ever since that day humanity has had a means of understanding every aspect within the
                    universe. It was discovered in the interlacing patterns on a humble turtle’s back — and in time it
                    became arguably the most profound knowledge ever discovered by a human being. It became The I
                    Ching.
                    </span> -->
                <!-- <image class="mundo img-fluid" src="/images/aviator/world.png"></image>
                <image class="turtle img-fluid" src="/images/aviator/turtle.png"></image>
                <image class="robot img-fluid" src="/images/aviator/robot.png"></image>
                <image class="logo img-fluid" src="/images/aviator/logo.png"></image>
                <image class="hexName img-fluid" src="/images/aviator/name.png"></image>
                <image class="as img-fluid" src="/images/aviator/as.png"></image>
                <image class="lhc img-fluid" src="/images/aviator/lhc.png"></image>

               
        </div> -->

       

        <!-- </div> -->
        
        <!--levels-->
        <!-- <div class="fullscreen levels" style="display: none">  -->
            <!-- view-->
             <!-- <div class="world-view" >
            </div>  -->
            <!--level view-->
             <!-- <div class="level-view" >
                <div class="name" ></div>
                <div class="levels-container" ></div>
            </div>
        </div>  -->
        
               <!--worlds json-->
       <script src="/js/worlds/jollycolor.js"></script>
       <script src="/js/worlds/worlds.js"></script>
       <script src="/js/worlds/parser.js"></script>
       
       <script src="/js/algorithm/stages.js"></script>
       
       <!--world generator-->
       <script src="/js/algorithm/world.js"></script>
       <!--level generator-->
       <script src="/js/algorithm/level.js"></script>
       <!--elements-->
       <script src="/js/algorithm/elements.js"></script>
       <!--parallax-->
       <script src="/libs/parallax/parallax.min.js"></script>
       
       <script src="/js/algorithm/paralax.js"></script>
       
       <!--animations-->
       <script src="/libs/tween/TweenMax.min.js"></script>
       
       <script src="/js/algorithm/animations.js"></script>
       <!--load page-->
       <script src="/js/algorithm/loadPage.js"></script>
       
       <!--three-->
       <script src="/libs/three/three.min.js"></script>
       <script src="/libs/three/OrbitControls.min.js"></script>
       <script src="/libs5/three128/GLTFLoader.js"></script>
       <script src="/libs5/three128/DRACOLoader.js"></script>
       <!-- <script src="https://unpkg.com/three@0.126.0/examples/js/loaders/GLTFLoader.js"></script> -->
       <!--game-->
       <script src="/js/game/game.js"></script>
       <!--gui-->
       <script src="/js/gui/animations.js"></script>
       <script src="/js/gui/gui.js"></script>
       <!--ui-->
       <script src="/js/ui/gameBoard.js"></script>
       <script src="/js/ui/mechTurtle.js"></script>
       <script src="/js/ui/three.js"></script>
       <!--load ui-->
       <script> Textures.load() </script>
       <script> Three.load(ELEMENTS['GAME']['CANVAS']) </script>
       <script> Gameboard.load(ELEMENTS['GAME']['GAMEBOARD']) </script>
       <!--blockly-->
       <script src="/libs/blockly/blockly_compressed.js"></script>
       <script src="/libs/blockly/blocks_compressed.js"></script>
       <script src="/libs/blockly/javascript_compressed.js"></script>
       <script src="/libs/blockly/en.js"></script>
       <script src="/libs/blockly/theme.js"></script>
       <!--gamepad-->
       <script src="/libs/gamepad/gamepad.js"></script>
       <!--index-->
       <script src="/js/index/index.js"></script>
       
       <!--split-->
       <script src="/libs/split/split.min.js"></script>
       
       <script src="/js/algorithm/split.js"></script>
       
       <!--link handlers-->
       <script src="/libs/sweetalert2/sweetalert2.all.min.js"></script>
       
       <script src="/js/algorithm/fx.js"></script>
       
       <!--debug menu-->
       <script src="/js/algorithm/debug.js"></script>
       
       <!--github link-->
       <script src="/libs/github/index.js"></script>
       <!-- <script>GitHub.inject(ELEMENTS['COURTAIN']['DIV'])</script> -->
        
        

        <!--blocky ------------------------------------------------------------------------------------------------------------------------------------------------->     


        <!-- dapp -->

        <!-- <div class="container" style="position:absolute; bottom:-10%; width:50%; height:50%; display: block">
            <div class="row" >
              <div class="col-xs-12 col-sm-8 col-sm-push-2" > -->
                <!-- <h1 class="text-center">Hexlibrium</h1> -->
                <!-- <hr/> -->
                <!-- <br/>
              </div>
            </div> -->
      
            <!-- <div id="petsRow" class="row "  > -->
              <!-- PETS LOAD HERE -->
            <!-- </div>
          </div> -->
      
          <!-- <div id="petTemplate" style="display: none">
            <div class="col-sm-6 col-md-4 col-lg-3" >
              <div class="panel panel-default panel-pet" >
                <div class="panel-heading" >
                  <h3 class="panel-title" >Scrappy</h3>
                </div>
                <div class="panel-body" >
                  <img alt="72x72" data-src="holder.js/72x72" class="img-rounded img-center" style="width: 50%; " src="https://animalso.com/wp-content/uploads/2017/01/Golden-Retriever_6.jpg" data-holder-rendered="true">
                  <br/><br/>
                  <strong>Name</strong>: <span class="pet-breed">Golden Retriever</span><br/>
                  <strong>Age</strong>: <span class="pet-age">3</span><br/>
                  <strong>Location</strong>: <span class="pet-location">Warren, MI</span><br/><br/>
                  <button class="btn btn-default btn-adopt" type="button" data-id="0">GET this NFT</button>
                  
                </div>
              </div>
            </div>
          </div> -->
      
          <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
          
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
          <!-- Include all compiled plugins (below), or include individual files as needed -->
          <!-- <script src="/dapp/bootstrap.min.js"></script> -->
          <script src="/dapp/web3.min.js"></script>
          <script src="/dapp/truffle-contract.js"></script>
          <script src="/dapp/app.js"></script>

     
        <!-- dapp -->

        <!-- <div id='ui'>

        <div id='playBtn'><img src='/assets/factory/playgame.png' alt='play game'></div>
        <div id="sfx-btn"><i class="fas fa-volume-up"></i></div>
        <div id="briefcase-btn"><i class="fas fa-briefcase"></i></div>
        <div id="camera-btn"><i class="fas fa-camera" img src='/src/images/a1.png'></i></div>
        <div id="action-btn"><i class="fas fa-hand-point-up"></i></div>
        <div id="windowBtn"><i class="fas fa-window"></i></div> -->
<!-- 
        <script>
            
            var level = document.querySelectorAll('.level')
            if(level[11]){
                level[11].addEventListener('click', ()=>{
             
                window.location.href = '/hexlibrium'
            })
            console.log(level)
            }
            
        </script> -->

        <!-- <script type="module">
            import { Hex } from '/js/game/Hexlibrium.js';

            document.addEventListener("DOMContentLoaded", () => {
                const game = new Hex(); 
                window.game = game;
            });
        </script> -->
    <!-- </div> -->

   
    <div style="display:block; width:100%;background-color: #1163A5;z-index:1;">
        <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a style="color:#FF0078; font-weight:bold;font-family: 'Oswald', sans-serif;font-family: 'Outfit', sans-serif;font-family: 'PT Sans Narrow', sans-serif;font-family: 'VT323', monospace;font-size:50px;" class="navbar-brand" href="#">HEXLIBRIUM</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 m-auto">
                  <!-- <li class="nav-item">
                    <a style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3);font-weight:800;" class="nav-link active" aria-current="page" href="#overview">OVERVIEW</a>
                  </li> -->
                  <li class="nav-item">
                    <a style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3);font-weight:800;" class="nav-link" href="#goals">GAME GOALS</a>
                  </li>
                  <li class="nav-item">
                    <a style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3);font-weight:800;" class="nav-link" href="#world">THE WORLD GAME</a>
                  </li>
                  <li class="nav-item">
                    <a style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3);font-weight:800;" class="nav-link" href="#charachter">GAME CHARACHTER</a>
                  </li>
                  <li class="nav-item">
                    <a style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3);font-weight:800;" class="nav-link" href="#inspiration">INSPIRATION</a>
                  </li>
                  <li class="nav-item">
                    <a style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3);font-weight:800;" class="nav-link" href="#history">HISTORY</a>
                  </li>
                  <li class="nav-item">
                    <a style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3);font-weight:800;" class="nav-link" href="#contact">CONTACT</a>
                  </li>
                  <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="http://localhost:3000/NFTMarketPlace">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                  </li> -->
                </ul>
             <a class="btn" href="http://localhost:3000">   <button style="background-image: linear-gradient(#C12E89, #7345AD);text-shadow: 2px 4px 3px rgba(0,0,0,0.3);font-weight: 800;" class="btn text-light">MARKETPLACE</button> </a>
              </div>
            </div>
          </nav>
        </header>

        <main style="background-image:linear-gradient(#1163A5,#FBB6FD)">
            <div class="d-flex flex-column align-items-center align-content-center justify-content-center" style="background-image: url('images/bannerfull.png'); height:800px;background-repeat: no-repeat;background-size:cover;background-position: center center center center;background-attachment: fixed;box-shadow: 10px 5px 5px black;">
                    <div style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3);font-weight: 800;" class="display-5 text-light titleInit1">Blockchain game to visual learners</div>
                    <div style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3);font-weight: 800;" class="display-5 text-light titleInit2">To earn by code mathmagically</div> 
                   <a class="btn" href="/game"> <button style="background-color:#FF0078;text-shadow: 2px 4px 3px rgba(0,0,0,0.3);margin-top:20%;" class="btn btn-lg text-light mt-5 jorney">Start your jorney</button> </a>
            </div>
            <img id="corte1" style="float:left;opacity: 0.8;position: absolute;left:0;z-index:1;" class="img-fluid imgAbsolute" src="images/corte1.png" alt="">

            <div class="d-flex justify-content-evenly p-5">

              <div class="d-flex flex-column w-25">
                <i class="fa-solid fa-lightbulb fa-3x text-center"></i>   
               <div class="text-center text-light">Lorem Ipsium</div>              
              <div class="text-center text-light">Lorem IpsiumLorem IpsiumLorem IpsiumLorem IpsiumLorem Ipsium</div>
            </div>

            <div class="d-flex flex-column w-25">
              <i class="fa-solid fa-comments-dollar fa-3x text-center"></i>   
               <div class="text-center text-light">Lorem Ipsium</div>              
            <div class="text-center text-light">Lorem IpsiumLorem IpsiumLorem IpsiumLorem IpsiumLorem Ipsium</div>
          </div>

          <div class="d-flex flex-column w-25">
            <i class="fa-solid fa-gamepad fa-3x text-center"></i>     
           <div class="text-center text-light">Lorem Ipsium</div>              
          <div class="text-center text-light">Lorem IpsiumLorem IpsiumLorem IpsiumLorem IpsiumLorem Ipsium</div>
        </div>
              
            </div>

       

            <div style="width:100%;height:800px;" class="">

              <div style="height:100%;display:flex;flex-direction:column;align-content:center;justify-content:center;">
                <!-- <h1 id="overview" style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3);font-weight: 800;color:#60337A;" class="text-center display-5">GAME OVERVIEW</h1> -->
                <h1 id="details" style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3);font-weight: 600;" class="text-center mt-5 text-light">GAME UNIVERSE</h1>
                <div class="text-center mt-5">
                  <p class="thegameExists text-light">The game exists in a scenario of intergalactic expansion and collonization of new planets to the players lives </p> 
               
                  <p class="thegameExists text-light">the adventure to experiment a coherent universe based in sacred geometry.</p>    
                </div> 
                <div style="display:flex; justify-content:space-evenly;">
                  <div id="humanDesign" style="display:flex;flex-direction:column;">
                    <img class="imgsacred" class="img-fluid" src="images/1.png" alt="">
                    <div class="text-center mt-3 text-light">Human design element </div>
                  </div>
                
                  <div id="sacredGeometry" style="display:flex;flex-direction:column;">
                    <img class="sacre" class="imgsacred" class="img-fluid" src="images/2.png" alt="">
                    <div class="text-center mt-3 text-light">Sacred geometry universe </div>
                  </div>
                  
                  <div id="techele" style="display:flex;flex-direction:column;">
                    <img  class="imgsacred" class="img-fluid" src="images/3.png" alt="">
                    <div class="text-center mt-3 text-light">Technology element</div>
                  </div>
                
                </div>

                <div class="mt-5 text-light text-center">
                  <p class="text-light">Get your NFT personalized hologenetic profile to connect with your NFT core robot.</p>
                </div>
                  <img id="corte2" style="position:absolute;right:0;opacity:0.8;" class="img-fluid imgAbsolute" src="images/corte2.png" alt="">
                </div>
                
               
               
          </div>

          

            <div id="goals" style="background-attachment: fixed;" class="mt-5">
                    <h2 style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3);" class="text-light text-center goals text-light">GAME GOAL</h2>
               
                    <img id="corte3" style="position:absolute;left:0;opacity:0.5;" class="img-fluid imgAbsolute" src="images/corte3.png" alt="">

                  <div  style="display:flex;flex-direction:column;justify-content: space-around;background-attachment: fixed;align-items: center;align-content: center;padding: 100px;width:80%;margin:auto;">


                      <div class="text-light plano2t d-flex align-content-center align-items-center justify-content-evenly w-100">
                       <p class="align-self-center w-25">People <br> travel and connect</p> 
                        <img style="" class="img-fluid plano1 align-self-center m-auto" src="images/disco1.png" alt="">
                        <p class="align-self-center w-25">Travel Between Dimensions <br> to meet compatible people</p> 
                      </div>
                     
                 

                      <div class="text-light plano2t d-flex align-content-center align-items-center justify-content-evenly w-100">
                        <p class="align-self-center w-25">Planets <br> Conquer and Colonize</p> 
                         <img style="" class="img-fluid plano2 align-self-center m-auto" src="images/disco2.png" alt="">
                         <p class="align-self-center w-25">Explore New Planets <br> to collect resources and build plataforms</p> 
                       </div>
                      

                       <div class="text-light plano2t d-flex align-content-center align-items-center justify-content-evenly w-100">
                        <p class="align-self-center w-25">Plataform Collect and Build</p> 
                         <img style="" class="img-fluid plano3 align-self-center m-auto" src="images/disco3.png" alt="">
                         <p class="align-self-center w-25">Teach your robots <br> to minning cryptocurrency and <br> mint your NFT's creations</p> 
                       </div>
                     
                 
                  
                </div>
            </div>

        <div id="world" class="mt-5">
           <h1 style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3);" class="text-light text-center wordgame">THE WORLD GAME</h1>
           <div class="mt-5">
            <p class="text-light text-center">01 Each player lives in our own dimension and they are invited to travel through space/time to meet compatible people.</p> 
            <p class="text-light text-center">02 In each dimension has ten planets thats brinc specificlly challenges that evolve specificlly tasks.</p>
            <p class="text-light text-center">03 Each planets has a specifically amount of platforms that challenge the players create strategies to expand your incomes.</p>
           </div>
           <div style="display:flex; flex-direction:column;align-content:center;align-items: center;">
           
           <!-- <div style="" class="text-center">
                      <div class="each text-light">1. Each player lives in our own dimension and they are invited to travel through space/time to meet compatible people.</div>
                      <div class="indimension text-light">2. In each dimension has ten planets thats brinc specificlly challenges that evolve specificlly tasks.</div>
                      <div class="eachP text-light">3. Each planets has a specifically amount of platforms that challenge the players create strategies to expand your incomes.</div>
                    </div> -->

                    <img class="img-fluid text-center m-auto diagramFull" src="images/frame.png" alt="">
                    <img id="corte4" style="position:absolute;right:0;opacity:0.5;margin-bottom:0;" class="img-fluid imgAbsolute" src="images/corte4.png" alt="">

                  </div>
                </div>
                
               
<div>
  <h1 style="color:#60337A;text-shadow: 2px 4px 3px rgba(0,0,0,0.3);"  class="text-center mt-5 mb-5 j1">LOREM IPSUM</h1>
  <p style="color:#60337A;" class="text-center j3">lorem ipsum dolor sit amet, consectetur adipis</p>
  <p style="color:#60337A;" class="text-center j4">lorem ipsum dolor sit amet, consectetur adipis</p>
  <p style="color:#60337A;" class="text-center mb-5 j5">lorem ipsum dolor sit amet, consectetur adipis</p>

  <div class="d-flex justify-content-evenly">
    <div class="card j6" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <div class="card j7" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <div class="card j8" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>
                
              <div style="height:600px;" class="">
                <img id="corte5" style="position:absolute;left:0;opacity:1;margin-top:-15%;" class="img-fluid imgAbsolute" src="images/corte5.png" alt="">
                <img id="corte6" style="position:absolute;right:0;opacity:1;" class="img-fluid imgAbsolute" src="images/corte6.png" alt="">

                <div id="charachter" style="height:100%;display:flex;flex-direction:column;align-content:center;justify-content:center;">
                <h1 style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3);color:#60337A;" class=" text-center"> GAME CHARACHTER</h1>
              <div style=" width:50%;color:#60337A;" class="align-self-center text-center">It is a dialog between the magic being and the technological robot that represents the subconsiouness and consiouness mind suported by the I-ching advices that guides the players to a journey of selfknoledge. </div>
              <div style="display:flex;justify-content:space-evenly;">
              <img style="width:15%;" id="turtle1"  class="img-fluid " src="images/personagem_tartaruga.png" alt="">
              <img style="width:15%;" id="drone1" class="img-fluid " src="images/personagem_drone.png" alt="">
              <img style="width:15%;" id="humanoid" class="img-fluid " src="images/personagem_humanoide.png" alt="">
            </div>
          </div>
            </div>
            <script>

setInterval(() => {
  $(document).ready(function(){
    $("#turtle1").ready(function(){
        $("#turtle1").animate({marginTop: "-5px"});
    });
    $("#turtle1").ready(function(){
        $("#turtle1").animate({marginTop: "5px"});
    });
});
}, 1500);



setInterval(() => {
  $(document).ready(function(){
    $("#drone1").ready(function(){
        $("#drone1").animate({marginTop: "-5px"});
    });
    $("#drone1").ready(function(){
        $("#drone1").animate({marginTop: "5px"});
    });

 
});
}, 2000);

setInterval(() => {
  $(document).ready(function(){
    $("#humanoid").ready(function(){
        $("#humanoid").animate({marginTop: "-5px"});
    });
    $("#humanoid").ready(function(){
        $("#humanoid").animate({marginTop: "5px"});
    });

 
});
}, 1500);



$(window).on("scroll", function () {
   if ($(this).scrollTop() > 1500) {
     $('.wordgame').show(2000)
   } else {
    $('.wordgame').hide('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 1800) {
     $('.diagramFull').fadeIn(2000)
   } else {
    $('.diagramFull').fadeOut('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 3500) {
     $('.j1').show(1500)
   } else {
    $('.j1').hide('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 3500) {
     $('.j2').show(3000)
   } else {
    $('.j2').hide('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 3500) {
     $('.j3').show(2500)
   } else {
    $('.j3').hide('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 3500) {
     $('.j4').show(2000)
   } else {
    $('.j4').hide('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 3600) {
     $('.j5').show('slow')
   } else {
    $('.j5').hide('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 3600) {
     $('.j6').show('slow')
   } else {
    $('.j6').hide('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 3600) {
     $('.j7').show('slow')
   } else {
    $('.j7').hide('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 3600) {
     $('.j8').show('slow')
   } else {
    $('.j8').hide('slow')
   }
});



$(window).on("scroll", function () {
   if ($(this).scrollTop() > 1380) {
     $('.indimension').show(2500)
   } else {
    $('.indimension').hide('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 1380) {
     $('.each').show(1500)
   } else {
    $('.each').hide('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 1380) {
     $('.eachP').show(3500)
   } else {
    $('.eachP').hide('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 500) {
     $('#corte1').fadeIn('slow')
   } else {
    $('#corte1').fadeOut('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 700) {
     $('#corte2').slideDown('slow')
   } else {
    $('#corte2').slideUp('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 1200) {
     $('#overview').show('slow')
   } else {
    $('#overview').hide('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 700) {
     $('#details').show(1500)
   } else {
    $('#details').hide('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 700) {
     $('.thegameExists').fadeIn(3000)
   } else {
    $('.thegameExists').fadeOut('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 1000) {
     $('#humanDesign').slideDown(2800)
   } else {
    $('#humanDesign').slideUp('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 1000) {
     $('#sacredGeometry').show(2500)
   } else {
    $('#sacredGeometry').hide('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 1000) {
     $('#techele').fadeIn(2500)
   } else {
    $('#techele').fadeOut('slow')
   }
});

// $(window).on("scroll", function () {
//    if ($(this).scrollTop() > 500) {
//     $('.titleInit1').fadeIn(500)
//      $('.titleInit1').css({
//        'transform':"rotate3d(0, 1, 0,"+ 360+'deg)',
//        'transition-property':'transform',
//        'transition-duration':'0.5s'
//      })
//    } else {
//     $('.titleInit1').fadeOut('slow')
//     $('.titleInit1').css({
//       'transform':"rotate3d(0, 0, 0,"+ 180+'deg)'
//     })
//    }
// });

$(document).ready(function () {

  $(window).on("load", function () {
let d = document.querySelector('.titleInit1')
d.style.display = 'none'
    $('.titleInit1').fadeIn(2800)
     $('.titleInit1').css({
       'transform':"rotate3d(0, 1, 0,"+ 360+'deg)',
       'transition-property':'transform',
       'transition-duration':'2s'
     })
    
    $('.titleInit1').css({
      'transform':"rotate3d(0, 0, 0,"+ 180+'deg)'
    })
  })
 
   


$(window).on("load", function () {
  let t = document.querySelector('.titleInit2')
  t.style.display = 'none'
    $('.titleInit2').fadeIn(3000)
     $('.titleInit2').css({
       'transform':"rotate3d(0, 1, 0,"+ 360+'deg)',
       'transition-property':'transform',
       'transition-duration':'2s'
     })
    
    $('.titleInit2').css({
      'transform':"rotate3d(0, 0, 0,"+ 180+'deg)'
    })
});

$(window).on("load", function () {
  let j = document.querySelector('.jorney')
  j.style.display = 'none'
  $('.jorney').fadeIn(3000)
     $('.jorney').css({
       'transform':"rotate3d(0, 1, 0,"+ 360+'deg)',
       'transition-property':'transform',
       'transition-duration':'2s'
     })
    
    $('.jorney').css({
      'transform':"rotate3d(0, 0, 0,"+ 180+'deg)'
    })
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 1200) {
     $('.goals').fadeIn(3500)
   } else {
    $('.goals').fadeOut('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 1200) {
     $('.plano1t').fadeIn(2000)
   } else {
    $('.plano1t').fadeOut('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 1200) {
     $('.plano1').fadeIn(1500)
   } else {
    $('.plano1').fadeOut('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 1200) {
     $('.plano2t').fadeIn(2500)
   } else {
    $('.plano2t').fadeOut('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 1200) {
     $('.plano2').fadeIn(2200)
   } else {
    $('.plano2').fadeOut('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 1200) {
     $('.plano3t').fadeIn(2500)
   } else {
    $('.plano3t').fadeOut('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 1200) {
     $('.plano3').fadeIn(2800)
   } else {
    $('.plano3').fadeOut('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 1550) {
     $('#corte3').show(3500)
   } else {
    $('#corte3').hide('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 1620) {
     $('#corte4').slideDown(3500)
   } else {
    $('#corte4').slideUp('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 2600) {
     $('#corte5').slideDown(2800)
   } else {
    $('#corte5').slideUp('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 2600) {
     $('#corte6').slideDown(3000)
   } else {
    $('#corte6').slideUp('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 3300) {
     $('#corte7').slideDown(3000)
   } else {
    $('#corte7').slideUp('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 4500) {
     $('#corte8').slideDown(3000)
   } else {
    $('#corte8').slideUp('slow')
   }
});


$(window).on("scroll", function () {
   if ($(this).scrollTop() > 5000) {
     $('#corte9').fadeIn(3000)
   } else {
    $('#corte9').fadeOut('slow')
   }
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 5000) {
     $('#corte10').fadeIn(3000)
   } else {
    $('#corte10').fadeOut('slow')
   }
});
});

$(window).on("scroll", function () {
   if ($(this).scrollTop() > 100) {
     $('header').css({
      'opacity':"1",
       'transition-property':'opacity',
       'transition-duration':'2s',
       'z-index':'9999'
     })
   } else {
    $('header').css({
      'opacity':"0.6",
       'transition-property':'opacity',
       'transition-duration':'2s',
       'z-index':'9999'
    })
   }
});

            </script>
          
            <div style="height:auto;" class="mb-5 mt-5">
              <img id="corte7" style="position:absolute;left:0;opacity:1;margin-top:-8%;" class="img-fluid imgAbsolute" src="images/corte7.png" alt="">
                   <div id="inspiration" style="height:100%;display:flex;flex-direction:column;align-content:center;justify-content:center;">
                          <h2 style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3);color:#60337A;" class=" text-center ">INSPIRATION</h2>
            
                          <div style="width:50%;color:#60337A;" class=" text-center align-self-center ">
                            Inspired in the Buckminster Fuller`s World Game of representing world-scale sustainability problem-solving according to the fundamental principles of a blockchain(data base) + fuller projection(sacred geometry map) + machine learning(simulation) in the form of game.  In this game you are a traveler in search of discovering new worlds through the vast dimensional universe, in this journey you will be the challenge of a small mascot to improve your skills, in this magical journey you will see everything connected through I-ching. In this sense, C. West Churchman identified the I Ching as one of the first means of measuring complex systems. The book left a great legacy in Western mathematics that, coined by German mathematician Gottfried Wilhelm Leibniz, created the so-called new arithmetic that gave rise to computer science. "The I Ching is more connected to the unconscious than to the rational attitude of consciousness". wrote in 1949 the psychoanalyst Carl Jung, who used the book in analysis sessions. For physicist Niels Bohr, work is at the root of quantum physics, one of the main pillars of current science.                          </div>
                          </div>
                        </div>

                        <div class="bgg mt-5 mb-5 d-block">
                          <img id="corte8" style="position:absolute;left:0;opacity:1;margin-top:0;" class="img-fluid imgAbsolute" src="images/corte8.png" alt="">
<div id="history" style="height:100%;display:flex;flex-direction:column;align-content:center;justify-content:center;" class="mt-5 mb-5">
                          <h2 style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3);color:#60337A;" class=" text-center mb-5 mt-5 ">HISTORY</h2>
                          <div class="hist" style="color:#60337A;z-index: 9999;" class="text-light mb-5 mt-5">
                            Once upon a time, perhaps even an eon ago, in a land known as Aevum, it was split into four great rivers dominated by the four great creatures that are responsible for balancing the entire dimension. <br><br>
                            One of the four magic being fascinated by a humble young human full of pure curiosity in search of a formula for your people stop their suffering the being decides to come to Aearth in the form of a turtle. <br><br>
                            The young man, in an evidently universal epiphany, asked this being: Oh little one, what is that?  <br><br>
                            Rather to your surprise our humble tortoise has evolved the young in a full cycle and decided to share his gentle contemplation. <br><br>
                            As the tortoise was twirling around the young man he noticed interlacing patterns on the back of the tortoise and how more he looked more him understood the nature of his question. <br><br>
                            Suddle everything expresses itself geometrically first the tortoise after the cosmos and the young man saw a six dimensional hypercube arround him prejected from an 3x3 matrix in the turtle's shell. <br><br>
                            And everything slowly disappeared and was condensed in a green stone where the young man fall sleep in a deep tweenty one days of dream... <br><br>
                            Since that day, his people have been able to understand every aspect of the universe. and in time it became arguably the most profound knowledge ever discovered by a human being. It became the I Ching. <br><br>
                            Now the turtle is trapped in this reality for disobeying the hierarchy of the four great rivers and is now kept in this form until it manages to find its way back which is only possible through the help of a pure heart being and our job is to bring back harmony through the evolution of the robot mind as a vehicle of consciousness from chaos to the cosmos
                
          </div>
        </div>
                        </div>
                
              
         

            <div class="mt-5 ">
              <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="foo">
  <img id="corte9" style="position:absolute;right:0;opacity:1;margin-top:-15%;" class="img-fluid imgAbsolute" src="images/corte9.png" alt="">
  <img id="corte10" style="position:absolute;right:0;opacity:1;height:380px;" class="img-fluid imgAbsolute" src="images/corte10.png" alt="">

  <footer class="text-white text-center text-lg-start" style="background-color: #23242a;">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div id="contact" class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 ">About company</h5>

          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti.
          </p>

          <p>
            Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
            molestias.
          </p>

          <div class="mt-4">
            <!-- Facebook -->
            <a href="https://twitter.com/hexlibrium" target="_blank" type="button" class="btn btn-floating btn-warning btn-lg"><i class="fa-brands fa-twitter"></i></a>
            <!-- Dribbble -->
            <a href="https://www.linkedin.com/company/hexlibrium/" target="_blank" type="button" class="btn btn-floating btn-warning btn-lg"><i class="fa-brands fa-linkedin"></i></a>
            <!-- Twitter -->
            <a href="https://t.me/hexlibrium" target="_blank" type="button" class="btn btn-floating btn-warning btn-lg"><i class="fa-brands fa-telegram"></i></a>
            <!-- Google + -->
            <a href="https://discord.gg/NHaaFSAsBh" target="_blank" type="button" class="btn btn-floating btn-warning btn-lg"><i class="fa-brands fa-discord"></i></a>
            <!-- Linkedin -->
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">


          <ul class="fa-ul" style="margin-left: 1.65em;">
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">New York, NY 10012, US</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">info@example.com</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 01 234 567 88</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">+ 01 234 567 89</span>
            </li>
          </ul>
        </div>
        
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="#">WWW.HEXLIBRIUM.COM</a>
    </div>
    <!-- Copyright -->
  </footer>
  
</div>
<!-- End of .container -->
            </div>

        </div>


    </main>
            </div>


        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script>
var $root = $('html, body');

$('a[href^="#"]').click(function () {
    $root.animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 1500);

    return false;
});
</script>
</body>

</html>