/* --- Courtain --- */
.courtain {
    background-color: rgb(35, 106, 148);

    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;

    background-image: linear-gradient(rgb(64, 108, 144), rgb(64, 123, 144));

    /* background-image: url('/images/screens/worlds.png');
    background-size: cover; */
}

.mundo {
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%) scale(0.7) rotate(0deg);
}

.turtle {
    position: absolute;
    top: 20%;
    left: 0%;
    /* width: 14vw; */
    cursor: pointer;
    transform: translate(-50%, -50%) scale(0.5);
}

.robot {
    position: absolute;
    top: 150%;
    left: 100%;
    /* width: 14vw; */
    cursor: pointer;
    transform: translate(-50%, -50%) scale(1);
}

.logo {
    position: absolute;
    /* margin-left: auto;
    margin-right: auto; */
    top: 20%;
    left: 10%;
    /* width: 14vw; */
    cursor: pointer;    
    transform: translate(-50%, -50%) scale(0.2);
   
    
}

.hexName {
    position: absolute;
    top: 20%;
    left: 50%;
    /* width: 14vw; */

    cursor: pointer;
    transform: translate(-50%, -50%) scale(0.4);
    
}

.as {
    position: absolute;
    top: 5%;
    left: 50%;
    /* width: 14vw; */

    cursor: pointer;
    transform: translate(-50%, -50%) scale(0.3);
    
}

.lhc {
    position: absolute;
    top: 86%;
    left: 50%;
    /* width: 14vw; */

    cursor: pointer;
    transform: translate(-50%, -50%) scale(0.4);
    
}



.content {
    width: 100%;
    height: 100%;
}

.title {
    position: absolute;
    font-family: 'Playfair Display';
    font-size: 24px;
    font-style: bold;
    line-height: 1;
    margin: 0;
    letter-spacing: -0.025em;
    color: #ff7700;
    /* top: calc(50vh - 18vw); */
    bottom: 5%;
    /* margin-left: 50%; */
    left: 50%;
    opacity: 0;
    text-align: center;
    transform: translate(-50%, -50%) scale(1);
    
}



/* @media only screen and (min-width: 1200px) {
    .title {
        font-size: calc(1200px / 100 * 22);
        top: calc(50vh - 1200px / 100 * 18);
    }
} */

.title>span {
    font-size: 0.05em;
    font-style: italic;
    letter-spacing: 0px;
}