/* --- Wolrd --- */
.world {
    position: absolute;
    width: 21.5vw;
    height: 21.5vw;
    
    cursor: pointer;
}

.worlds {
    background-image: linear-gradient(rgb(64, 108, 144), rgb(64, 123, 144));
}

.world-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}



.worlds>.world:nth-child(12) {
    transform: translate(-50%, -50%) scale(0.7);
    left: 50%;
    top: 15%;
}



.worlds>.world:nth-child(11) {
    transform: translate(-50%, -50%) scale(0.3);
    left: 70%;
    top: 25%;
}

.worlds>.world:nth-child(10) {
    transform: translate(-50%, -50%) scale(0.3);
    left: 30%;
    top: 25%;
}



.worlds>.world:nth-child(9) {
    transform: translate(-50%, -50%) scale(0.2);
    left: 50%;
    top: 35%;
}


/* hexlibrium */
.worlds>.world:nth-child(8) {
    transform: translate(-50%, -50%) scale(0.3);
    left: 70%;
    top: 45%;
}

.worlds>.world:nth-child(7) {
    transform: translate(-50%, -50%) scale(0.3);
    left: 30%;
    top: 45%;
}



.worlds>.world:nth-child(6) {
    transform: translate(-50%, -50%) scale(0.5);
    left: 50%;
    top: 55%;
}




.worlds>.world:nth-child(5) {
    transform: translate(-50%, -50%) scale(0.3);
    left: 70%;
    top: 65%;
}

.worlds>.world:nth-child(4) {
    transform: translate(-50%, -50%) scale(0.3);
    left: 30%;
    top: 65%;
}



.worlds>.world:nth-child(3) {
    transform: translate(-50%, -50%) scale(0.3);
    left: 50%;
    top: 75%;
}

.worlds>.world:nth-child(2) {
    transform: translate(-50%, -50%) scale(0.5);
    left: 50%;
    top: 90%;
}





/* hexlibrium */
.world-frame {
    position: absolute;
    width: 100%;
    height: 100%;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.world-text {
    position: absolute;
    width: 100%;
    height: 100%;

    color: #ffffff;

    font-size: 5vw;
    text-align: center;
    font-weight: 1000;
}

.links {
    font-weight: bold;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    /* align-content: space-around; */
    justify-content: space-around;
    position: absolute;
    top: 10px;
    /* left: 0px; */
    right: 10px;
    width: 200px;
    font-family: 'Playfair Display';
}

.links>a {
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    line-height: 30px;
}

.links>a:active {
    color: #ffffff;
}

.links>a:visited {
    color: purple;
}

.links>a:hover {
    transform: scale(1.02);
}

.history{
    visibility: visible;
    position: absolute;
    top:5%;
    right: 2.5%;
    width: 20%;
    height: 100%;

    color: #ffffff;

    font-size: 1.5vw;
    text-align: justify;
    font-weight: 22;
    font-family: 'Playfair Display';

    border: 1px solid #ffffff;
    border-radius: 2px;
    outline-offset: 5px;
    outline: 5px
}

.instructions{
    visibility: hidden;
    position: absolute;
    top:5%;
    left: 2.5%;
    width: 20%;
    height: 100%;

    color: #ffffff;

    font-size: 2vw;
    text-align: justify;
    font-weight: 22;
    font-family: 'Playfair Display';
}

